.c-label {
  letter-spacing: 1px;
  text-transform: uppercase;
  background: hsla(0,0%,100%,.12);
  padding: 3px 12px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 500;
  color: #fff;
}
