/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: (
  white: #ffffff,
  purple: #7548EE,
  gray-0: $oc-gray-0,
  gray-1: $oc-gray-1
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';


@import '~iotacss/utilities/bgcolor';
