/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: (
  white: #ffffff,
  purple: #7548EE,
  gray-0: $oc-gray-0,
  gray-1: $oc-gray-1
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';


@import '~iotacss/utilities/bgcolor';


.u-gradient-purplin {
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.u-gradient-deep-purple {
  background: #673AB7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.u-fill-white {
  fill: #ffffff;
}
