/**
 * Weight sizes
 *
 * Type: Map
 */

$iota-utils-weight-sizes: (
  light: 300,
  bold: 600
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-weight-namespace: 'weight-';


@import '~iotacss/utilities/weight';
