/**
 * Weight sizes
 *
 * Type: Map
 */

$iota-utils-weight-sizes: (
  light: 300,
  bold: 600,
  display: 300,
  body-1: 400,
  body-2: 400
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-weight-namespace: 'weight-';


@import '~iotacss/utilities/weight';
